Repository ladybug-tools/honeybee-energy, pull requests merged in 2019-10, with the labels that each got.

#31 feat(simulation): Add objects for EnergyPlus simulation settings
  .releaserc.json
  .travis.yml
  deploy.sh
  honeybee_energy/idealair.py
  honeybee_energy/load/infiltration.py
  honeybee_energy/properties/aperture.py
  honeybee_energy/properties/door.py
  honeybee_energy/properties/face.py
  honeybee_energy/properties/model.py
  honeybee_energy/properties/room.py
  honeybee_energy/properties/shade.py
  honeybee_energy/simulation/__init__.py
  honeybee_energy/simulation/control.py
  honeybee_energy/simulation/daylightsaving.py
  honeybee_energy/simulation/runperiod.py
  honeybee_energy/simulation/shadowcalculation.py
  honeybee_energy/simulation/sizing.py
  honeybee_energy/simulationparameter.py
  tests/idealair_test.py
  tests/simulation_control_test.py
  tests/simulation_runperiod_test.py
  tests/simulation_shadowcalculation_test.py
  tests/simulation_sizing_test.py
  tests/simulationparameter_test.py
Labels: critical, energy, new development

#34 feat(output): Add module to handle simulation outputs
  honeybee_energy/simulation/output.py
  honeybee_energy/simulationparameter.py
  tests/model_extend_test.py
  tests/simulation_output_test.py
  tests/simulationparameter_test.py
Labels: critical, energy, honeybee, new development

#36 feat(writer): Add writer objects to go to.idf
  honeybee_energy/_extend_honeybee.py
  honeybee_energy/properties/model.py
  honeybee_energy/schedule/day.py
  honeybee_energy/simulation/output.py
  honeybee_energy/simulation/sizing.py
  honeybee_energy/simulationparameter.py
  honeybee_energy/writer.py
  tests/aperture_extend_test.py
  tests/door_extend_test.py
  tests/model_extend_test.py
  tests/room_extend_test.py
  tests/shade_extend_test.py
  tests/simulation_output_test.py
Labels: critical, energy, honeybee, new development

#39 feat(run): Add a temporary module to handle energyplus runs
  honeybee_energy/run.py
  honeybee_energy/writer.py
Labels: critical, energy, honeybee, new development

#40 refactor(init): Edit __init__.py to load honeybee_energy extensions
  honeybee_energy/__init__.py
  honeybee_energy/programtype.py
  honeybee_energy/schedule/ruleset.py
Labels: critical, energy, enhancement, honeybee

#41 refactor(standards): Move all standards methods out of honeybee-energy
  honeybee_energy/construction/opaque.py
  honeybee_energy/construction/window.py
  honeybee_energy/lib/constructions.py
  honeybee_energy/lib/materials.py
  honeybee_energy/material/gas.py
  honeybee_energy/material/glazing.py
  honeybee_energy/material/opaque.py
  honeybee_energy/programtype.py
  honeybee_energy/schedule/day.py
  honeybee_energy/schedule/ruleset.py
  tests/construction_test.py
  tests/material_gas_test.py
  tests/material_glazing_test.py
  tests/material_opaque_test.py
  tests/programtype_test.py
  tests/schedule_day_test.py
  tests/schedule_ruleset_test.py
  tests/standards/OpenStudio_Standards_materials.json
  tests/standards/OpenStudio_Standards_schedule.json
  tests/standards/OpenStudio_Standards_schedules.json
Labels: critical, energy, enhancement, honeybee

#42 fix(requirements): Pull requirements out into their own file
  .travis.yml
  dev-requirements.txt
  honeybee_energy/lib/constructionsets.py
  requirements.txt
  setup.py
Labels: energy, honeybee

#43 docs(readme): Update README to current standard
  README.md
  honeybee_energy/properties/face.py
  honeybee_energy/properties/room.py
  requirements.txt
Labels: documentation, energy, honeybee

#44 fix(travis): update version of node to 12
  .travis.yml
Labels: energy, honeybee

#45 fix(to_idf): Include room name in the name of thermostat and ventilation
  honeybee_energy/idealair.py
  honeybee_energy/load/setpoint.py
  honeybee_energy/load/ventilation.py
  honeybee_energy/properties/room.py
  honeybee_energy/writer.py
  tests/idealair_test.py
  tests/load_setpoint_test.py
  tests/load_ventilation_test.py
  tests/model_extend_test.py
Labels: bug, critical, energy, honeybee

#46 feat(construction): Add is_symmetric property to Construction
  honeybee_energy/construction/_base.py
  honeybee_energy/construction/opaque.py
  honeybee_energy/construction/window.py
  honeybee_energy/writer.py
  tests/construction_test.py
Labels: critical, energy, enhancement, honeybee
